/* palette 
blue: C2D4F2
maroon: #9E5F0F
red: 59100d
*/

/* #whise_program { font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 0.95em; width:100% }
#whise_program ul li em { font-weight:bold }
#whise_program p { margin:0 }
#whise_program tr th.session { text-align:center }
#whise_program tr th.times { font-weight:normal; min-width:130px; text-align:right; width:18% }
#whise_program tr td , #whise_program  tr th { border: 1px solid #bbb; padding:5px }
#whise_program tr td ul { list-style:none; padding-left:0 }
#whise_program tr td ul li { margin-top:5px } */

#answer_program { font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 0.95em; width:100%; border: 1px solid #bbb; }
#answer_program ul li em { font-weight:bold }
#answer_program p { margin:0 }
#answer_program tr th.session { text-align:center; border: 1px solid #bbb;  }
#answer_program tr th.times { font-weight:normal; min-width:130px; text-align:right; width:18% }
#answer_program tr td , #answer_program  tr th { padding:5px } /* border: 1px solid #bbb; */
#answer_program tr td ul { list-style:none; padding-left:0 }
#answer_program tr td ul li { margin-top:5px }
#answer_program tr td span.title {font-style:italic;}
#answer_program tr.specialrow { border: 1px solid #bbb; s}

.intro-header { margin-bottom:5px }
.intro-header .site-heading h1, .intro-header .page-heading h1 { font-size: 40px; }
.my_class { padding-top:80px; padding-bottom:220px; }
#banner-writing { padding-top:85px; padding-bottom:215px;}
.translucent-background { background-color:rgba(255,255,255,0.3); padding:5px;}
.navbar-twitter { display: inline-block; margin-top: 16px; font-size: small }
.post-preview { font-size: 0.9em }
.post-preview > a > .post-title {	font-size: 30px }
.post-preview > .post-subtitle {	font-size: 22px }
.plain-text-link { font-size: 0.5em;	font-weight: normal; display: inline-block; font-style: normal }

body { background-color: #EDEDED; }
a  { color: #10375D; }
h1 { color: #EDEDED; }
h2,h3,h4,h5 { color: #10375D }
hr  { border-color: #000f1a; margin: 3em 0px }
p, li  { font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 1em }


